<h1><%= customer.name %></h1>
<hr>
<h5>Email: <%= customer.email %></h5>
<h5>Home Phone: <%= customer.homephone %></h5>
<h5>Cell Phone: <%=customer.cellphone %></h5>
<h5>Street Address: <%= customer.street%></h5>
<h5>City: <%= customer.city%></h5>
<h5>State: <%= customer.state %></h5>
<h5>Zip: <%= customer.zip %></h5>


<hr>
<h3>Stocks</h3>
<table>
  <tr>
    <th>Symbol</th>
    <th>Name</th>
    <th>Number of Shares</th>
    <th>Purchase Price</th>
    <th>Date</th>
    <th>Current Price</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% _.each(customer.stocks, function(stock) { %>
  <tr data-id="<%= stock.id %>" data-model="stock" >
    <td><%= stock.symbol %></td>
    <td><%= stock.name %></td>
    <td><%= stock.number_of_shares %></td>
    <td>$<%= stock.purchase_price %></td>
    <td><%= stock.date %></td>
    <td>$<%= stock.current_price %></td>
    <td></td>
    <td><a href="/stock/show/ <%= stock.id%>">Show</a></td>
    <td><a href="/stock/edit/ <%= stock.id%>">Edit</a></td>
    <td><a href="/stock/destroy/ <%= stock.id%>">Delete</a></td>

  </tr>
  <% }); %>
</table>

<form action="/stock/new/" method="POST" >
  <input type="hidden" value="<%= customer.id %>" name="owner" >
  <input type="submit" value="Add Stock" />
</form>

<hr>
<h3>Investments</h3>
<table>
  <tr>
    <th>Category</th>
    <th>Description</th>
    <th>Aquired Value</th>
    <th>Aquired Date</th>
    <th>Recent Value</th>
    <th>Recent Date</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% _.each(customer.investments, function(investment) { %>
  <tr data-id="<%= investment.id %>" data-model="investment" >
    <td><%= investment.category %></td>
    <td><%= investment.description %></td>
    <td>$<%= investment.aquired_value %></td>
    <td><%= investment.aquired_date %></td>
    <td>$<%= investment.recent_value %></td>
    <td><%= investment.recent_date %></td>
    <td><a href="/investment/show/ <%= investment.id%>">Show</a></td>
    <td><a href="/investment/edit/ <%= investment.id%>">Edit</a></td>
    <td><a href="/investment/destroy/ <%= investment.id%>">Delete</a></td>

  </tr>
  <% }); %>
</table>

<form action="/investment/new/" method="POST" >
  <input type="hidden" value="<%= customer.id %>" name="boss" >
  <input type="submit" value="Add Investment" />
</form>
<hr>
<form action="/customer/" method="POST" >
  <input type="submit" value="Return to Customers" />
</form>
